<p id="notice"><%= notice %></p>

<h2>現在 <%= current_user.name %> さんがログインしています</h2>
<h4>メールアドレス： <%= current_user.email %></h4>
<%= image_tag(current_user.icon, size: '300x200') if current_user.icon.attached? %><br />
<%= link_to "プロフィール編集", edit_user_registration_path %>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
