<p id="notice"><%= notice %></p>

<h2>現在 <%= current_user.name %> さんがログインしています</h2>
<h4>メールアドレス： <%= current_user.email %></h4>
<%= image_tag(current_user.icon, size: '300x200') if current_user.icon.attached? %><br />
<%= link_to "プロフィール編集", edit_user_registration_path %>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>

<h1>Blogs</h1>

<div class="container">
  <div id="new-blog-link">
    <%= link_to '新規ブログを作成する', new_blog_path %>
  </div>

  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-xs-12 col-md-6 blog-panel">
        <h2><%= blog.title %></h2>
        <p><%= blog.content %></p>
        <p><%= blog.created_at %></p>
        <div class="blog-links">
          <%= link_to 'Show', blog, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-info' %> |
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
