<div class="d-flex">
  <div class="container text-center">

    <h1 class="my-4">Blog Detail</h1>

    <div class="mb-5">
      <p>Title:</p>
      <h3><%= @blog.title %></h3>

      <p>Content:</p>
      <h3><%= @blog.content %></h3>
    </div>

    <div class="mb-5">
      <p>
        <strong>created_at:</strong>
        <%= @blog.created_at %>
      </p>
      <p>
        <strong>updated_at:</strong>
        <%= @blog.updated_at %>
      </p>
    </div>

    <% unless @blog.user == current_user %>
      <% if @favorite.present? %>
        <div class="">
          <%= link_to 'お気に入り解除する', destroy_favorite_url(@blog.id), method: :delete, class: 'btn btn-danger text-white mb-2' %>
        </div>
      <% else %>
        <div class="">
          <%= link_to 'お気に入りする', create_favorite_url(@blog.id), method: :post, class: 'btn btn-success text-white mb-2' %>
        </div>
      <% end %>
    <% end %>

    <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary text-white mt-3 me-2" %>
    <%= link_to 'Back', blogs_path, class: "btn btn-outline-dark mt-3" %>

    <h1 class="my-5">New Comment</h1>

    <%= form_with(model:[@blog, @comment], local: true) do |f| %>
      <div class="field">
        <%= f.text_area :comment_content, :size=>"60x3",placeholder: "コメントする" %>
      </div>
      <div class="actions">
        <%= f.submit "Comment", class: "btn btn-success mb-4" %>
      </div>
    <% end %>

    <h1 class="my-5">Comments</h1>
    <div class="row">
      <% @comments.each do |comment| %>
        <div class="col-xs-12 col-md-6 blog-panel">
          <h2><%= comment.comment_content %></h2>
          <p>Written by <%= comment.user.name %></p>
          <p><%= comment.created_at %></p>
          <%= link_to 'Destroy', [comment.blog, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger  text-white' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
