<div class="vh-100 d-flex">
  <div class="container text-center">
    <h1 class="my-4">User Detail</h1>

    <div class="">
      <%= image_tag(@user.icon,size: "500x400", class: "img-fluid") if @user.icon.attached? %><br />
      <h2 class="my-4"><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <p class="text-small"><%= link_to @user.followings.count, followings_user_path(@user) %> フォロー <%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー</p>
      <% if @user == current_user %>
        <p>it's you</p>
      <% else %>
        <%if @user.is_followed_by?(current_user) %>
          <%= link_to user_relationships_path(@user), method: :delete do %>
          <button class="btn btn-danger">フォロー解除</button>
          <% end %>
        <% else %>
          <%= link_to user_relationships_path(@user), method: :post do %>
            <button class="btn btn-primary">フォロー</button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
