<!DOCTYPE html>
<html>
  <head>
    <title>RailsBootstrap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ↑スマホ対応にするための記述 -->
  </head>

  <body>
    <%= render 'shared/header' %>
    <% if flash[:notice] %>
      <div class="alert-primary text-center py-3" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger text-center" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
